---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: credential-rotator-sa
  namespace: crossplane
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: credential-rotator-cr
rules:
  - apiGroups:
      - "kubernetes.m.crossplane.io"
    resources:
      - "objects"
    verbs:
      - "*"
  - apiGroups:
      - "external-secrets.io"
    resources:
      - "externalsecrets"
    verbs:
      - "*"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: credential-rotator-crb
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: credential-rotator-cr
subjects:
  - kind: ServiceAccount
    name: credential-rotator-sa
    namespace: crossplane
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: credential-rotator-minio
  namespace: crossplane
spec:
  schedule: "0 */12 * * *"
  successfulJobsHistoryLimit: 5
  failedJobsHistoryLimit: 5
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          serviceAccountName: credential-rotator-sa
          restartPolicy: OnFailure
          containers:
            - name: credential-rotator
              image: bitnami/kubectl
              command: ["/bin/bash", "-c"]
              args:
                - |
                  set -euo pipefail

                  interval=86400
                  now=$(date +%s)
                  objects=$(kubectl get objects.kubernetes.m.crossplane.io --all-namespaces \
                      -o jsonpath="{range .items[*]}{.metadata.namespace}{'\t'}{.metadata.name}{'\t'}{.metadata.annotations.crossplane\.io/composition-resource-name}{'\t'}{.metadata.creationTimestamp}{'\n'}{end}")

                  deleted_groups=""

                  while IFS=$'\t' read -r namespace name compositionResourceName creationTimestamp; do
                      [[ "$compositionResourceName" == user-* ]] || continue

                      group="${name%-*}"
                      if echo " $deleted_groups " | grep -q " $group "; then
                          continue
                      fi

                      creationTimestampSeconds=$(date -d "${creationTimestamp}" +%s)
                      validUntil=$((creationTimestampSeconds + interval))
                      if (( validUntil < now )); then
                          stripped_input="${name#user-}"
                          secretName="${stripped_input%-*}"
                          idx="${stripped_input##*-}"

                          if [ "${idx}" = "1" ]; then
                              idx="2"
                          elif [ "${idx}" = "2" ]; then
                              idx="1"
                          fi

                          echo "Updating $namespace/$secretName"
                          kubectl patch externalsecret "${secretName}" -n "${namespace}" --type='json' -p="[
                            {'op': 'replace', 'path': '/spec/data/0/remoteRef/key', 'value': '${secretName}-${idx}'},
                            {'op': 'replace', 'path': '/spec/data/1/remoteRef/key', 'value': '${secretName}-${idx}'}
                          ]"
                          echo "Deleting $namespace/$name (creationTimestamp: ${creationTimestampSeconds}, now: ${now})"
                          kubectl delete objects.kubernetes.m.crossplane.io "$name" -n "$namespace"

                          deleted_groups="${deleted_groups} ${group}"
                      fi
                  done <<< "$objects"
